<!DOCTYPE HTML>
<html>
	<head>
		<title>La page perso d'Adrien</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<meta property="og:url" content="http://www.adrienpeynichou.com/">
		<meta property="og:image" content="http://www.adrienpeynichou.com/facebookimage.jpeg">
		<meta property="og:title" content="Adrien's personal page">
		<meta property="og:description" content="Junior web developer originally from Paris, currently based out of Toronto.">
		<link rel="stylesheet" href="assets/css/main.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css"><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
		<link rel="stylesheet" href="assets/sweetalert/dist/sweetalert.css">
		<link rel="icon" type="image/png" href="images/favicomatic/favicon-32x32.png">

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/sweetalert/dist/sweetalert.min.js"></script>
			<script>

			function rickJames() {
				return sweetAlert({
					title: "Coucou toi!",
					imageUrl: "images/rickjames.gif",
					imageSize: "320x320",
					timer: 2500,
					allowOutsideClick: true,
					showConfirmButton: false
				})
			}

			function success() {
				return sweetAlert('Terminé!', 'Votre message a été envoyé.', 'success');
			}
			</script>


	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a onclick="rickJames()" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
					<h1><strong>Moi, c'est Adrien</strong>,<br>
					développeur web full-stack<br>
					à la recherche de nouvelles opportunités.
        			</h1><br>
					<h4><a href="#skills" class="indexbuttons">COMPÉTENCES</a></h4>
					<h4><a href="#two" class="indexbuttons">PROJETS RÉCENTS</a></h4>
					<h4><a href="#three" class="indexbuttons">CONTACT</a></h4>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<!-- One -->
					<section id="one">
							<a href="/"><img src="images/united-kingdom.svg" class="flags" alt="French flag"></a>
						<header class="major">
							<h2 id="intro">Bienvenue sur ma page perso!
							Merci de votre visite.</h2>
						</header>
						<p class="personalblurb">Je suis un créatif passionné d’énigmes et de casses-têtes techniques. En tant que développeur, j’ai une prédilection pour le front-end et me porte sur l’élaboration d’interfaces propres et ‘responsive’. Mon parcours académique en gestion et mon expérience professionnelle en entreprise me permettent d’approcher le rôle technique d’un point de vue pluridisciplinaire et de mettre l’accent sur la communication en équipe. En ce moment, je suis développeur full-stack chez <a href="https://www.humi.ca/" target="_blank">Humi</a>.</p>
						<ul class="actions">
							<li><a href="https://www.visualcv.com/adrien-peynichou-fr" target="_blank" class="button">Consulter mon CV</a></li>
						</ul>
					</section>

				<!-- Skills -->
				<section id="skills">
					<h2>Compétences Techniques</h2>
					<div class="row">
						<img src="images/svgskills/js.svg" alt="JS icon" class="svgskills">
						<img src="images/svgskills/react.svg" alt="React icon" class="svgskills">
						<img src="images/svgskills/ruby.svg" alt="Ruby icon" class="svgskills">
						<img src="images/svgskills/rails.svg" alt="Rails icon" class="svgskills">
						<img src="images/svgskills/html.svg" alt="HTML5 icon" class="svgskills">
						<img src="images/svgskills/css.svg" alt="CSS3 icon" class="svgskills">
						<img src="images/svgskills/jquery.svg" alt="jQuery icon" class="svgskills">
						<img src="images/svgskills/node.svg" alt="Node icon" class="svgskills">
						<img src="images/svgskills/atom.svg" alt="Atom icon" class="svgskills">
						<img src="images/svgskills/bootstrap.svg" alt="Bootstrap icon" class="svgskills">
						<img src="images/svgskills/git.svg" alt="Git icon" class="svgskills">
						<img src="images/svgskills/heroku.svg" alt="Heroku icon" class="svgskills">
						<img src="images/svgskills/postgres.svg" alt="PostgreSQL icon" class="svgskills">
						<img src="images/svgskills/mongo.svg" alt="MongoDB icon" class="svgskills">
					</div>
				</section>

				<!-- Two -->
					<section id="two">
						<h2>Projets Récents</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>ManageMint (<a href="https://github.com/alexsieben/ManageMint" target="_blank">GitHub</a>)</h3>
								<p>Un projet construit en équipe destiné à évaluer les interactions entre employés et clients grâce aux technologies d’analyse de sentiments. Bâti sur Ruby on Rails, PostgreSQL, Bootstrap, Chat.js ainsi que les APIs Indico pour l’analyse de sentiment et Google Calendar pour les fonctionnalités additionnelles.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/02.gif" class="image fit thumb"><img src="images/thumbs/02.gif" alt="" /></a>
								<h3>Tweetr (<a href="https://github.com/ady0906/tweetr" target="_blank">GitHub</a>)</h3>
								<p>Un clone de Twitter type single-page app construit avec AJAX, jQuery, HTML5 et CSS3.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>Tu ou Vous (in progress - <a href="https://github.com/ady0906/tuvousspa">GitHub</a>)</h3>
								<p>Une page qui se fixe pour objectif de venir en aide aux anglophones qui auraient du mal à déchiffrer les nuances qui séparent les pronoms de la deuxième personne en français. Inspiré de cet <a href="http://imgur.com/gallery/Klr5XLC" target="_blank">organigramme</a>.</p>
							</article>
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h3><a href="https://dry-basin-22167.herokuapp.com/">Jungle</a></h3>
								<p>Une mini application de e-commerce bâtie sur du Rails 4.2.</p>
							</article>
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
								<h3>Chatty App</h3>
								<p>Un environnement de développement minimal bâti sur ReactJS et WebSockets. Cliquez <a href="https://github.com/ady0906/chattyapp">ici</a> pour le code client et <a href="https://github.com/ady0906/chattyserver">ici</a> pour le serveur.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="https://github.com/ady0906" target="_blank" class="button">Consulter mon GitHub</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Contact</h2>
						<p>Vous voulez travailler avec moi? Des questions à me poser? Écrivez-moi un message et je vous répondrai d'ici deux jours au plus tard.</p>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="/" id="contactform" onsubmit="success()">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nom" required/></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Adresse email" required/></div>
										<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4" required></textarea></div>
									</div>
									<br />
									<ul class="actions">
										<li><input type="submit" value="Envoyer" id="sendmessage"/></li>
										<li><input type="reset" value="Réinitialiser" id="resetform"></li>
									</ul>
								</form>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<li>
										<div class="personals">
											<h3 class="icon fa-home"><span class="label">Address</span></h3>
											Toronto
										</div>
									</li>
									<li>
										<div class="personals">
										<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
										(647) 534 3354
									</div>
									</li>
									<li>
										<div class="personals">
										<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
										<a href="mailto:adrien.peynichou@gmail.com">adrien dot peynichou at gmail dot com</a>
									</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner" id="footerstuff">
					<ul class="icons">
							<li><a href="https://www.linkedin.com/in/adrien-peynichou/" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/ady0906" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://soundcloud.com/dantes-mtl" target="_blank" class="icon fa-soundcloud"><span class="label">Soundcloud</span></a></li>
							<li><a href="mailto:adrien.peynichou@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							<li><a href="#main" class="icon fa-arrow-circle-up"><span class="label">Back to top</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Adrien Peynichou &nbsp;|&nbsp; 2017</li>
						</ul>
				</div>
			</footer>
	</body>
</html>
